
//== generic teaser style, used on all pages

.cmp-teaser {
  margin-top: 32px;
  margin-bottom: 32px;
}
.cmp-teaser__image {}
.cmp-teaser__content {}
.cmp-teaser__pretitle {}
.cmp-teaser__title {
  margin-top: 0;
}
.cmp-teaser__title-link {
  font-family: 'Open Sans', sans-serif;
  color: #262727;
  font-size: 14px;
  letter-spacing: 0.07em;
  margin-bottom: 17px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 17.5px;
}
.cmp-teaser__description {
  font-family: 'Open Sans', sans-serif;;
  margin-bottom: 2rem;
  color: #5a5b5c;
}
.cmp-teaser__action-container {}
.cmp-teaser__action-link {
  color: $color-blue;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11.232px;
  border-bottom-width: 2px;
  border-bottom-color: $color-underline;
  border-bottom-style: solid;
  text-decoration: none;
  line-height: 15px;
}

.cmp-teaser__title h3 {
  margin-top: 0;
  margin-bottom: 17px;
}