
//== button style, used on all child pages

#tag_button {
  overflow-wrap: break-word;
  background-color: #0da4d3;
  color: #FFFFFF;
  display: inline-block;
  margin: 0 4px 3px 0;
  padding: 0;
  box-sizing: border-box;
}

#tag_button .cmp-button__text {
  line-height: 25px;
  font-size: 12px;
  padding: 0 9px;
}