#tag_button {
  background-color: #0da4d3;
  color: #FFFFFF;
  display: inline-block;
  font-size: 12px;
  line-height: 25px;
  margin: 0 0 3px 0;
}

#tag_button .cmp-button__text {
  padding: 0 9px;
}