
#subpage_left_container .text {
  display: block;
  margin-inline-start: 0;
  margin-inline-end: 0;
  color: #5a5b5c;
  font-size: 14px;
  line-height: 1.65;
}

#subpage_right_container .text {
  margin-block-start: 16px;
  margin-block-end: 16px;
  font-size: 14px;
  line-height: 1.65;
  color: #5a5b5c;
}

#subpage_body_content_first_paragraph {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#subpage_body_content {
  margin-bottom: 2rem;
}