
#subpage_left_container .text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  color: #5a5b5c;
  font-size: 14px;
  line-height: 1.65;
  margin-bottom: 2rem;
}

#subpage_right_container .text {
  margin-block-start: 16px;
  margin-block-end: 16px;
  font-size: 14px;
  line-height: 1.65;
  color: #5a5b5c;
}