
//== generic list style, used on all pages

.cmp-list {
  list-style-type: none;
}
.cmp-list__item {
  list-style-type: none;
}
.cmp-list__item-link {
  list-style-type: none;
  text-decoration: none;
}
.cmp-list__item-title {
  list-style-type: none;
}
.cmp-list__item-date {
  list-style-type: none;
}