
// list style for main page

#site_navigation {
  list-style-type: none;
}

#site_navigation li {
  display: inline-block;
  float: left;
  padding-left: 11px;
  padding-right: 11px;
}

#site_navigation li:hover {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-radius: 2px;
  border-color: #0da4d3;
}

#site_navigation a {
  text-decoration: none;
  color: #5a5b5c;
  font-size: 11.232px;
  line-height: 15.7248px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
}

#site_navigation a:hover {
  color: #0da4d3;
}