
#blog_banner_container {
  position: relative;
}

#blog_banner_text_container {
  max-width: 1100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

#share_container {
  display: flex;
}

#related_container {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ebecee;
  padding-bottom: 41px;
}

#blog_attribute_container {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ebecee;
  padding-bottom: 2.5rem;
}

#comment_list_container {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

#comment_text_container {
  margin-left: 15px;
}

#comment_container {
  padding: 2rem;
  margin-top: 2rem;
  background-color: #fafafa;
  border-radius: 2px;
  border-width: 1px 1px 1px 3px;
  border-style: solid;
  border-color: #ebecee;
}

#comment_content {
  margin-top: 2rem;
}