
#customer_banner_container h1 {
  color: #929394;
  font-size: 2.281rem;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.25;
  margin: 0;
  padding-left: 30px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}