
//== image style, used on blog pages

#blog_banner_container #blog_banner_image {
  opacity: 0.25;
  width: 100%;
}

#blog_banner_container .image {
  background-color: black;
}

#blog_banner_image img {
  max-height: 139px;
  object-fit: cover;
}

#like_container img {
  width: 26px;
  height: 26px;
  border: none;
}

#comment_icon img {
  max-width: 52px;
  max-height: 52px;
  float: right;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e1e3;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04);
}