#left_caption_picture {
  float: left;
  display: table;
  margin: 0.5em 1em 0.5em 0;

  @media screen and (max-width: 768px) {
    float: none;
    display: block;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75rem;
  }
}

#right_caption_picture {
  float: right;
  display: table;
  margin: 0.5em 0 0.5em 1em;

  @media screen and (max-width: 768px) {
    float: none;
    display: block;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75rem;
  }
}

#left_caption_picture .cmp-image__title, #right_caption_picture .cmp-image__title {
  color: #929394;
  line-height: 1.65;
  display: table-caption;
  caption-side: bottom;
  margin-bottom: 0;
  margin-top: 0.75em;
  font-size: 0.889rem;

  @media screen and (max-width: 768px) {
    display: block;
  }
}