
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color

$color-foreground:      #202020;
$color-background:      #FFFFFF;
$color-background-grey: #f8f9fa;
$color-link:            #2020E0;
$color-border:          #e0e1e3;
$color-underline:       #cbeefa;
$color-blue:            #0da4d3;

//== Grid

$max_col: 12;


